div{
    margin-left: 15px;
    margin-right: 15px;
}

.toast-body{
    margin: 0px;
}

mat-cell{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-header-cell{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-header-row{
    background-color: lightcoral;
    text-align: center;

}

mat-row{
    background-color: rgb(255, 213, 193);
    text-align: center;
}

mat-row:hover{
    background-color: #ffd9cc;
}

button{
    background-color: coral;
    color: white;
    border-radius: 12px;
    padding: 5px 12px;
}

button:hover{
    background-color: rgb(255, 198, 173);
    color: black;
}

mat-paginator{
    color: #f35454;
}