.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  background-color: coral;
  height: fit-content;
  font-size:30px;
}

a {
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

img{
  height: 75px;
  width: auto;
}

