
.container-flex {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container-flex-element {
  align-self: center;
  width: 35%;
}

.alert-success{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.alert-success .btn-close {
  opacity: 0.75;
  padding: 0.5rem 0.75rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.alert-success .btn-close:hover {
  opacity: 1;
}