
form {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.formfield, .button{
  align-self: center;
  width: 35%;
}

.title {
  font-family: "Phenomena-ExtraBold", "SansSerif";
  font-size:30px;
  margin-bottom: 20px;
  align-self: center;
}